@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.ttf') format('truetype'); /* Điều chỉnh đường dẫn nếu cần */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype'); /* Điều chỉnh đường dẫn nếu cần */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype'); /* Điều chỉnh đường dẫn nếu cần */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype'); /* Điều chỉnh đường dẫn nếu cần */
  font-weight: 700;
  font-style: normal;
}